body{
    display: flex;
    align-items: center;
    justify-content: center;
}


.Chessboard{
    border: 5px solid #000;
    width: 80%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    
}
.Chessboard div{
    width: 10%;
    height: 100px;
    width: calc(100%/8);
    font-size: 70px;
    text-align: center ;
    text-shadow: 2px 1px white;
    
}
.a{
    background-color: white;

}
.b{
    background-color: black;
    /* color: aliceblue; */
}